@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}
body{
color: #ffffff;
/*background: #86960F;*/
}
.s-title{
	font-size:20px;
	margin-top: 30px;
	font-weight: 400;
text-align: center;
}
.s-author{
text-align: center;
}
.s-content {
text-align: center;
	line-height: 1.6em;
   font-size: 16px;
		
	height:70%;
	overflow-x: scroll;
   overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
   overflow: -moz-scrollbars-none;
   overflow: -moz-scrollbars-none;
}
.s-content::-webkit-scrollbar{
    display: none;
}
#jinrishici-sentence-quanwen{	
	text-align: center;
    letter-spacing:3px;	
   z-index: 99999;
	position: absolute;left:0;top:0;right:0;bottom:0;  
   margin: auto;    /* 有了这个就自动居中了 */ 

}/* CSS Document */

@media all and (orientation : landscape){ 
.sp{
  writing-mode:tb-rl;  
  -webkit-writing-mode:vertical-rl;
}
#jinrishici-sentence-quanwen{	

    letter-spacing:4px;	
        }
.s-content {
    width:80%;
    margin: auto; 
    text-align:left;
    } 
.s-title{text-align:left;
padding-top:20px;

}
.s-author{
text-align:left;
padding-top: 60px;
}
    }
@media all and (orientation : portrait){ 
.sp{

}
} 

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
   /* background-image: linear-gradient(to top, #C7B897 20%, #C7B897 80%);*/
	
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
	opacity: 0.5;
}
.bgBottom2 {
    z-index: 2;
	opacity: 0.75;
}
.wave {
    position: absolute;
    left: 0;
    width: 400%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 100% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 1s;
   -webkit-animation: move-wave 1s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 100% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 100% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 10s linear infinite;
}
.waveBottom2 {
    background-size: 100% 90px;
}
.waveAnimation .waveBottom2 {
    animation: move_wave 8s linear infinite;
}
