body{
color: #ffffff;
/*background: #86960F;*/
}
.s-title{
	font-size:18px;
	margin-top: 30px;
	font-weight: 600;
text-align: center;
}
.s-author{
text-align: center;
}
.s-content {
text-align: center;
	line-height: 1.5em;
   font-size: 16px;
	letter-spacing:2px;		
	height:80%;
	overflow-x: hidden;
   overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
   overflow: -moz-scrollbars-none;
   overflow: -moz-scrollbars-none;
}
.s-content::-webkit-scrollbar{
    display: none;
}
#jinrishici-sentence-quanwen{	
	text-align: center;
   z-index: 99999;
	position: absolute;left:0;top:0;right:0;bottom:0;  
   margin: auto;    /* 有了这个就自动居中了 */ 

}/* CSS Document */


@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
   /* background-image: linear-gradient(to top, #C7B897 20%, #C7B897 80%);*/
	
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
	opacity: 0.5;
}
.bgBottom {
    z-index: 2;
	opacity: 0.75;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 1s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 18s linear infinite;
}
.waveBottom2 {
    background-size: 50% 90px;
}
.waveAnimation .waveBottom2 {
    animation: move_wave 8s linear infinite;
}
